<div class="container">
    <div class="card" *ngIf="type === 'login'">
        <div class="card-header">
            Login
        </div>
        <div class="card-content p-2">
                <div class="input"><input [(ngModel)]="username" type="text" data-role="input" data-prepend="<span class='mif-envelop'>" placeholder="Enter email" data-role-input="true" class=""><div class="button-group"><button class="button input-clear-button" tabindex="-1" type="button"><span class="default-icon-cross"></span></button></div><div class="prepend"><span class="mif-envelop"></span></div></div>
                <div class="input mt-2"><input [(ngModel)]="password" type="password" data-role="input" data-prepend="<span class='mif-lock'>" class="" placeholder="Enter password" data-role-input="true"><div class="button-group"><button class="button input-clear-button" tabindex="-1" type="button"><span class="default-icon-cross"></span></button><button class="button input-reveal-button" tabindex="-1" type="button"><span class="default-icon-eye"></span></button></div><div class="prepend"><span class="mif-lock"></span></div></div>
                <hr>
                <div class="form-actions">
                    <button class="button info" type="submit" (click)="login()">Submit</button>
                </div>
        </div>
    </div>
    <div class="card" *ngIf="type === 'register'">
        <div class="card-header">
            Register
        </div>
        <div class="card-content p-2">
            <form data-bitwarden-watching="1">
                <div class="input"><input type="text" data-role="input" data-prepend="<span class='mif-envelop'>" placeholder="Enter email" data-role-input="true" class=""><div class="button-group"><button class="button input-clear-button" tabindex="-1" type="button"><span class="default-icon-cross"></span></button></div><div class="prepend"><span class="mif-envelop"></span></div></div>
                <div class="input mt-2"><input type="password" data-role="input" data-prepend="<span class='mif-lock'>" class="" placeholder="Enter password" data-role-input="true"><div class="button-group"><button class="button input-clear-button" tabindex="-1" type="button"><span class="default-icon-cross"></span></button><button class="button input-reveal-button" tabindex="-1" type="button"><span class="default-icon-eye"></span></button></div><div class="prepend"><span class="mif-lock"></span></div></div>
                <div class="input mt-2"><input type="password" data-role="input" data-prepend="<span class='mif-lock'>" class="" placeholder="Repeat password" data-role-input="true"><div class="button-group"><button class="button input-clear-button" tabindex="-1" type="button"><span class="default-icon-cross"></span></button><button class="button input-reveal-button" tabindex="-1" type="button"><span class="default-icon-eye"></span></button></div><div class="prepend"><span class="mif-lock"></span></div></div>
                <hr>
                <div class="form-actions">
                    <button class="button info" type="submit">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


