<div class="container">
    <input type="file" data-role="file" (change)="uploadTorrent($event)">
    <table mat-table table-striped class="table striped table-border compact row-hover">
        <thead>
            <tr>
                <th>Name</th>
                <th>Progress</th>
            </tr>
        </thead>
        <tbody class="">
            <tr *ngFor="let torrent of torrents" (click)="getTorrentInformations(torrent.hash)">
                <td>{{torrent.name}}</td>
                <td><m4-progress [value]="torrent.percentage" data-cls-back="bg-yellow"></m4-progress></td>
            </tr>
        </tbody>
    </table>
    <m4-panel>
        <div>
            <b>Name :</b>
            <span class="description-title">{{torrent_name}}</span>
        </div>
        <div>
            <b>Size : </b>
            <span class="description-title">{{torrent_size}}</span>
        </div>
        <div>
            <b>Location : </b>
            <span class="description-title">{{torrent_location}}</span>
        </div>
        <div>
            <b>Hash : </b>
            <span class="description-title">{{torrent_hash}}</span>
        </div>
        <div>
            <b>Uploaded : </b>
            <span class="description-title">{{torrent_uploaded}}</span>
        </div>
        <div>
            <b>Downloaded : </b>
            <span class="description-title">{{torrent_downloaded}}</span>
        </div>
        <div>
            <b>State : </b>
            <span class="description-title">{{torrent_state}}</span>
        </div>
    </m4-panel>
</div>


